@mixin Flexbox-row-xs {
    @media (min-width: 521px) {
        width: 50%;
    }

    @media (min-width: 992px) {
        width: 25%;
    }
}

@mixin Flexbox-row-sm {
    @media (min-width: 48rem) {
        flex-direction: row;
    }
}

@mixin Flexbox-col {
    @media (min-width: 48rem) {
        flex-grow: 50%;
    }
}

@mixin Viewportsizes {
    @media (min-width: 30rem) {
        height: 75vh;
    }

    @media (min-width: 48rem) {
        height: 100vh;
    }
}

@mixin Containersize {
    @media (min-width: 521px) {
       flex-direction: row;
       max-width: 750px;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        max-width: 1160px;
     }
}
