.blog {

    &__posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 68.75rem;
        margin: 0 auto;

        @include Flexbox-row-sm;
    }

    &__post {
        max-width: 35rem;
        margin: 1rem;
        text-align: center;
        background: #F2F2F2;
    
        &-image {
            height: 14rem;
        }
    
        &-title {
            color: #666666;
            font-size: 1.25rem;
            padding: 0 1.65rem;
            margin: 1.25rem 0;
        }
    
        &-text {
            font-size: 0.9rem;
            padding: 0 1.65rem;
            margin: 1.25rem 0;
            line-height: 1.6em;
            color: #333;
        }
    
    }
}


