.main-nav {
   width: 90%;
   margin: 0 auto;
   height: 0px;
   overflow: hidden;
   transition: all .5s ease-in-out;

    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        text-align: center;
    }

    &__item a {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid #646d7c;
        background: #383E4C;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
    } 

    &__items a:hover,
    &__items a:focus {
       background: #f2f2f2;
       color: #646d7c;
    }

}

.main-nav--open {
    height: 220px;
}

@media (min-width: 768px) {
    .main-nav {
        display: block;
        padding: 10px 0;
        margin-bottom: 5px;
        height: auto;

        &__items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__item { 
            margin: 0 10px;
        }
        
        &__item a {
            border: 1px solid #646d7c;
            padding: 0.8rem 1.5rem;
        }
    }
}


@media (min-width: 999px) {
    .main-nav {
        &__item a {
            font-size: 20px;
        }
    }
}
