.main-nav {
   width: 90%;
   margin: 0 auto;
   display: none;

   &__items {
        list-style: none;
        margin: 0;
        padding: 0; 
   }

   &__item {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #646d7c;
        background: #383E4C;
        text-align: center;
   }

   &__items a {
       text-decoration: none;
       color: #fff;
       font-size: 1rem;
       font-weight: 500;
   }

}


@media (min-width: 768px) {
    .main-nav {
        display: block;
        padding: 10px 0;
        margin-bottom: 5px;

        &__items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__item {
            border: 1px solid #646d7c;
            padding: 0.8rem 1.5rem;
            margin: 0 10px;
        }   
    }
}


@media (min-width: 999px) {
    .main-nav {
        &__item a {
            font-size: 20px;
        }
    }
}
